name: Deploy to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install sshpass and netcat
      run: sudo apt-get update && sudo apt-get install -y sshpass netcat

    - name: Diagnostic checks
      env:
        HOST: ${{ secrets.FTP_SERVER }}
        USER: ${{ secrets.FTP_USERNAME }}
        PASS: ${{ secrets.FTP_PASSWORD }}
        PORT: ${{ secrets.FTP_PORT }}
      run: |
        echo "Checking connection to server..."
        nc -zv $HOST $PORT
        echo "Attempting SSH connection..."
        sshpass -p "$PASS" ssh -o StrictHostKeyChecking=no -p $PORT $USER@$HOST "echo Connection successful"
        # Additional debugging steps
        sshpass -p "$PASS" ssh -o StrictHostKeyChecking=no -p $PORT $USER@$HOST "netstat -tlnp | grep ssh"
        sshpass -p "$PASS" ssh -o StrictHostKeyChecking=no -p $PORT $USER@$HOST "ss -tlnp | grep ssh"

    - name: Deploy to server using scp
      env:
        HOST: ${{ secrets.FTP_SERVER }}
        USER: ${{ secrets.FTP_USERNAME }}
        PASS: ${{ secrets.FTP_PASSWORD }}
        PORT: ${{ secrets.FTP_PORT }}
        TARGET: /home/electgcs/public_html/
      run: |
        sshpass -p "$PASS" scp -o StrictHostKeyChecking=no -P $PORT -r ./* $USER@$HOST:$TARGET

    - name: Verify deployment
      env:
        HOST: ${{ secrets.FTP_SERVER }}
        USER: ${{ secrets.FTP_USERNAME }}
        PASS: ${{ secrets.FTP_PASSWORD }}
        PORT: ${{ secrets.FTP_PORT }}
      run: |
       sshpass -p "$PASS" ssh -v -o StrictHostKeyChecking=no -p $PORT $USER@$HOST "echo Connection successful"
