on:
  push:
    branches:
      - main

jobs:
  deploy_job:
    runs-on: ubuntu-latest
    name: deploy
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - name: Install lftp
        run: sudo apt-get install lftp
      
      - name: Deploy files
        env:
          FTP_USERNAME: ${{ secrets.FTP_USERNAME }}
          FTP_PASSWORD: ${{ secrets.FTP_PASSWORD }}
          FTP_SERVER: ${{ secrets.FTP_SERVER }}
          FTP_PORT: ${{ secrets.FTP_PORT }}
        run: |
          lftp -e "set sftp:auto-confirm yes; open sftp://$FTP_USERNAME:$FTP_PASSWORD@$FTP_SERVER:$FTP_PORT; mirror -R ./ /home/electgcs/public_html; quit"
