name: Publish Website

on:

 push:
    branches: main

jobs:
  Fast-FTP-Action:
    name: Fast FTP Action
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Fast FTP Action
      uses: anvil-solutions/Fast-FTP-Action@2.1.0
      with:
        server: ftp.electronicdevices.co.za
        port: 21
        username: myFtpUserName
        password: ${{ secrets.FTP_PASSWORD }}
        remote_dir: /home/electgcs/public_html/
